@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(./fonts/digital-7-mono.ttf) format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
input,
button,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6,
p,
text {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  max-width: 100vw;
  min-height: 100vh;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: var(--background-primary);
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex] {
  outline: none !important;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  width: 50%;
  background: rgba(256, 256, 256, 0.4);
}

:root {
  --color-primary: #ff2b06;
  --color-secondary: #ffffff;
  --color-tertiary: rgba(255, 255, 255, 0.5);

  --background-primary: #1a1a1a;
  --background-secondary: #232323;
  --background-tertiary: #f4f4f4;
  --background-quaternary: #d2dae1;

  --max-width: 83.5em;
  --max-width-bleed: 90%;
  --max-width-narrow: 50em;
}

html {
  font-size: 16px;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-primary);
  height: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
  border-radius: 5px;
}
